<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="RemoteConnection" connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=d3c2bit2_ProjectManagementDemo;Persist Security Info=True;User ID=d3c2bit2_ProjectManagementDemo;Password=d3c2bit2"/>
		<add name="LocalConnection" connectionString="Server=ORBIT-PC\MSSQLSERVER14SE;Database=d3c2bit2_ProjectManagement;Trusted_Connection=True;"/>
	</connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<runtime>
		<NGenReserveForJumpStubs value="5"/>
	</runtime>
</configuration>
